header {
    background-color: #2c3e50;
    height: 90px;
}

.white {
    color: white;
}

button.navbar-toggler {
    border: 1px solid white;
}

.jumbotron, .about {
    background-color: #1abc9c;
}

.jumbotron .row .col img {
    width: 226px;
}

.container i.bi-star-fill {
    font-size: 2rem;
} 

.container i.bi-star-fill.white {
    color: white;
}

.star .col-2 .line {
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: black;
}

.star .col-2 .line.white {
    background-color: white;
}

.mc-card {
    border-radius: 0.5rem;
}

.mc-card i {
    font-size: 3rem;
    color: white;
}

.layover {
    background-color: rgba(26, 188, 156, 0.524);
    top: 0;
    left: 0;
    display: none;
}

.mc-card:hover .layover {
    display: flex;
}

.mc-container {
    margin: 0 auto;
    width: 60%;
}

.about .mc-btn {
    color: white;
    border: 1px solid white;
}

.about .mc-btn i {
    margin-right: 4px;
}

.about .mc-btn:hover {
    background-color: white;
    color: #2c3e50;
    border: 1px solid #2c3e50;
}

.contact input, .contact textarea {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact textarea {
    height: 110px;
}

.contact .btn-send {
    background-color: #1abc9c;
    color: white;
}

.footer-top {
    background-color: #3a546d;
    color: white;
}

.footer-top ul {
    list-style: none;
}

.footer-top li {
    border: 1px solid white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.3rem;
}

.footer-top a:hover {
    color: rgba(255, 255, 255, 0.7)
}

.footer-top .colored-text {
    color: #1abc9c;
}

.footer-bottom {
    background-color: #2c3e50;
    height: 110px;
    border-top: 1px solid #2c3e50;
}

.footer-bottom p {
    line-height: 100px;
}