header {
    background-color: #2c3e50;
    height: 90px;
}

button.navbar-toggler {
    border: 1px solid white;
}

.white {
    color: white;
}

.container i.bi-star-fill {
    font-size: 2rem;
} 

.container i.bi-star-fill.white {
    color: white;
}

.star .col-2 .line {
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: black;
}

.star .col-2 .line.white {
    background-color: white;
}


.portfolio .col img {
    border-radius: 0.5rem;
}

.mc-container {
    margin: 0 auto;
    width: 60%;
}

.about .mc-btn {
    color: white;
    border: 1px solid white;
}

.about .mc-btn i {
    margin-right: 4px;
}

.about .mc-btn:hover {
    background-color: white;
    color: #2c3e50;
    border: 1px solid #2c3e50;
}

.contact input, .contact textarea {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.contact textarea {
    height: 110px;
}

.contact .btn-send {
    background-color: #1abc9c;
    color: white;
}

footer {
    background-color: #2c3e50;
    height: 110px;
}

textarea {
    width: 100%;
}

/* [class^="container"], [class^="col"] {
background-color: rgba(173, 242, 244, 0.4);
border: 1px solid black;
min-height: 80px;
} */

.jumbotron, .about {
    background-color: #1abc9c;
}

.jumbotron .row .col img {
    width: 226px;
}


.cta {
    background-color: #3a546d;
}

ul {
    list-style: none;
}

li {
    margin-left: 10px;
}